.mobiscrollCustomMultiInput {
    width: 300px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'inter';
    padding-top: 13px;
    padding-bottom: 13px;
}

.mobiscrollCustomInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    width: 100px;
    padding-top: 13px;
    padding-bottom: 8px;
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollCreateInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollCategoryInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    width: 150px;
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollFrequencyInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    width: 90px;
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollDatePicker {
    border: 0px;
    cursor: pointer;
}

.customDropdown {
    border: 0px;
}

.mbsc-ios.mbsc-form-control-wrapper:after,
.mbsc-ios.mbsc-form-control-wrapper:before {
    border: 0px !important;
}

.mbsc-ios {
    font-family: 'Inter';
}

.mbsc-select {
    /* width: 180px; */
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #cccccc;
    font-size: 15px;
}

.mbsc-textfield {
    /* width: 180px; */
    border: 0px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    font-size: 15px;
}

.mbsc-icon {
    width: 1em;
    height: 1em;
    /* top: 0.5em; */
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
    color: #1f1f1f !important;
}

.tox-tinymce {
    border: 1px solid #f2f2f2 !important;
}

.mbsc-ios.mbsc-select,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-box,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-outline {
    background: transparent !important;
}

.mbsc-ios.mbsc-textfield-wrapper-underline {
    background: transparent !important;
}

.react-tag-input {
    border: none;
    border-bottom: 1px solid #f2f2f2;
}

.react-tag-input__input {
    font-family: 'overpass';
    font-size: 15px;
}

.react-tag-input__tag {
    background: #dedede;
}

.react-tag-input__tag__content {
    font-family: 'Inter';
    font-size: 13px;
}

.mbsc-textfield.mbsc-textfield-tags.mbsc-textarea {
    max-height: 10em;
}

.mbsc-ios.mbsc-textfield-tags-inner .mbsc-ios.mbsc-select-icon.mbsc-ltr {
    margin-right: 10px;
}

/* .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown::before {
    position: absolute;
    content: " \2304";
    top: 0px;
    right: -8px;
    height: 20px;
    width: 20px;
} */

.mbsc-popup-padding {
    overflow: scroll;
}

/* FROALA EDITOR */

.fr-sticky-off {
    position: sticky !important;
}

/* .fr-box.fr-basic .fr-element.fr-view {
    font-family: Inter;
    font-size: 18px;
} */

.noClearButtons .mbsc-textfield-tag-clear.mbsc-icon {
    display: none !important;
}

.noClearButtons .mbsc-textfield-tag.mbsc-ltr {
    padding-right: 0.75em;
}

.mbsc-event-list-empty {
    font-size: 15px !important;
}

/* Custom css for Question types */

.highlightTextOption {
    border: 2px solid #e6f0ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #006aff;
    font-family: 'Overpass';
    font-size: 15px;
}

/* .highlightTextOption:hover {
    border: 2px solid #006aff !important;
} */

.highlightTextActive {
    border: 2px solid #006aff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #006aff;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextUnselected {
    border: 2px solid #e6f0ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    cursor: pointer;
    background: #e6f0ff;
    color: #006aff;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextUnselected:hover {
    border: 2px solid #006aff !important;
}

.highlightTextSelected {
    border: 2px solid #006aff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    cursor: pointer;
    background: #006aff;
    color: #fff;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextCorrect {
    border: 2px solid #35ac78;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #d4f3e5;
    color: #35ac78;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextWrong {
    border: 2px solid #f94144;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #ffe6f3;
    color: #f94144;
    font-family: 'Overpass';
    font-size: 15px;
}

.inlineChoicePlaceholder {
    /* background: #f2f2f2;
    padding: 3px;
    border-radius: 3px;
    display: inline-block; */
    border: 1px solid #006aff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #006aff;
    font-family: 'Overpass';
    font-size: 15px;
}

.inlineTextEntry {
    border: 1px solid #006aff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #006aff;
    font-family: 'Overpass';
    font-size: 15px;
}

div#editable {
    display: inline-block;
}

.cardQuiz {
    padding: 40px;
    background: #fff;
    max-width: 360px;
    border-radius: 20px;
    margin: 60px auto;
}

.cardShadow {
    /* box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2); */
    border: 1px solid #cccccc;
}

.hotspotOption {
    border: none;
    border-radius: 8px;
    padding: 7px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #f8f8f8;
    color: #000;
    font-family: 'Overpass';
    font-size: 15px;
}

/* .highlightTextOption:hover {
    border: 2px solid #006aff !important;
} */

.hotspotActive {
    border: 2px solid #006aff;
    border-radius: 8px;
    padding: 7px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #f8f8f8;
    color: #006aff;
    font-family: 'Overpass';
    font-size: 15px;
}

.mbsc-ios.mbsc-popup-body {
    background: #f8f8f8 !important;
}

.mbsc-ios.mbsc-calendar-button.mbsc-button {
    color: '#006AFF' !important;
}

.mbsc-ios.mbsc-eventcalendar .mbsc-calendar-header,
.mbsc-ios.mbsc-eventcalendar .mbsc-calendar-week-days {
    background: #fff !important;
}

.mbsc-ios.mbsc-schedule-wrapper {
    background: #fff !important;
}

.fr-toolbar.fr-top {
    border-radius: 0px !important;
}

.fr-second-toolbar {
    border-radius: 0px !important;
    border: none;
}

.fr-toolbar {
    border: none !important;
}

.fr-box.fr-basic .fr-wrapper {
    border: none;
    border-bottom: 1px solid #efefef !important;
}

.fr-toolbar .fr-newline {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

*:focus {
    outline: none !important;
}

textarea:focus,
input:focus {
    outline: none !important;
}

.mbsc-textfield.mbsc-textfield-tags.mbsc-textarea {
    border: 1px solid #cccccc !important;
    border-radius: 2px;
}

/* .mbsc-ios.mbsc-button-flat {
    color: #000 !important;
    font-size: 15 !important;
    font-family: 'Inter';
    text-transform: capitalize;
} */

.mbsc-ios.mbsc-button-dark.mbsc-button-flat {
    color: #000 !important;
    font-size: 15 !important;
}

.mbsc-ios.mbsc-textfield-wrapper-underline {
    background: #fff !important;
}

.mbsc-ios.mbsc-select,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-box,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-outline {
    background: #fff !important;
}

.htmlParser {
    font-family: 'Overpass' !important;
    user-select: text !important;
}

.highlighter {
    text-overflow: ellipsis;
}

.fr-box.fr-basic .fr-element {
    color: '#000';
}

/* New table with sticky row and column */

.stickyTableContainer {
    position: relative;
    max-height: 300px;
    width: 500px;
    overflow: scroll;
}

.stickyTable {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    min-width: 100%;
}

.stickyTable > thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* width: 25vw; */
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
    background-color: #f8f8f8;
}

.stickyTable > thead {
    background-color: #f8f8f8;
    min-width: 100%;
}

.stickyTable > thead th:first-child {
    background-color: #f8f8f8;
    position: sticky;
    left: 0;
    z-index: 3;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.stickyTable > tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 2;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.stickyTable > td {
    z-index: 1;
    min-width: 120px;
    max-width: 120px;
    padding: 10px;
}

.analyticsOverviewTable {
}

.analyticsOverviewTable > td {
    z-index: 1;
    min-width: 120px;
    max-width: 120px;
    padding: 10px;
}
