.mobiscrollCustomMultiInput {
    width: 300px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'inter';
    padding-top: 13px;
    padding-bottom: 13px;
}

.mobiscrollCustomInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    width: 100px;
    padding-top: 13px;
    padding-bottom: 8px;
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollCreateInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollCategoryInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    width: 150px;
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollFrequencyInput {
    border: 0px;
    /* border-bottom: 1px solid #f2f2f2; */
    width: 90px;
    font-weight: bold;
    font-family: 'inter';
    cursor: pointer;
}

.mobiscrollDatePicker {
    border: 0px;
    cursor: pointer;
}

.customDropdown {
    border: 0px;
}

.mbsc-ios.mbsc-form-control-wrapper:after,
.mbsc-ios.mbsc-form-control-wrapper:before {
    border: 0px !important;
}

.mbsc-ios {
    font-family: 'Inter';
}

.mbsc-select {
    /* width: 180px; */
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #cccccc;
    font-size: 15px;
}

.mbsc-textfield {
    /* width: 180px; */
    border: 0px;
    border-radius: 2px;
    font-size: 15px;
}

.mbsc-icon {
    width: 1em;
    height: 1em;
    /* top: 0.5em; */
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
    color: #1f1f1f !important;
}

.tox-tinymce {
    border: 1px solid #f2f2f2 !important;
}

.mbsc-ios.mbsc-select,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-box,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-outline {
    background: transparent !important;
}

.mbsc-ios.mbsc-textfield-wrapper-underline {
    background: transparent !important;
}

.react-tag-input {
    border: none;
    border-bottom: 1px solid #f2f2f2;
}

.react-tag-input__input {
    font-family: 'overpass';
    font-size: 15px;
}

.react-tag-input__tag {
    background: #dedede;
}

.react-tag-input__tag__content {
    font-family: 'Inter';
    font-size: 13px;
}

.mbsc-textfield.mbsc-textfield-tags.mbsc-textarea {
    max-height: 10em;
}

.mbsc-ios.mbsc-textfield-tags-inner .mbsc-ios.mbsc-select-icon.mbsc-ltr {
    margin-right: 10px;
}

/* .dropdown {
    position: relative;
    display: inline-block;
}
.dropdown::before {
    position: absolute;
    content: " \2304";
    top: 0px;
    right: -8px;
    height: 20px;
    width: 20px;
} */

.mbsc-popup-padding {
    overflow: scroll;
    padding: 2em;
}

/* FROALA EDITOR */

.fr-sticky-off {
    position: sticky !important;
}

.dark-theme.fr-box.fr-basic .fr-wrapper {
    border-left-color: #444444 !important;
    border-right-color: #444444 !important;
    border-bottom: 0px !important;

    background: #1b1d21 !important;
}

.dark-theme .fr-second-toolbar {
    border-color: #444444 !important;
    background: #1b1d21 !important;
}

.dark.fr-view {
    background: #1b1d21 !important;
}

.dark-theme.fr-toolbar.fr-top {
    border-color: #444444 !important;
}

.noClearButtons .mbsc-textfield-tag-clear.mbsc-icon {
    display: none !important;
}

.noClearButtons .mbsc-textfield-tag.mbsc-ltr {
    padding-right: 0.75em;
}

.mbsc-event-list-empty {
    font-size: 15px !important;
}

/* Custom css for Question types */

.highlightTextOption {
    border: 2px solid #e6f0ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #0067ff;
    font-family: 'Overpass';
    font-size: 15px;
}

/* .highlightTextOption:hover {
    border: 2px solid #0067ff !important;
} */

.highlightTextActive {
    border: 2px solid #0067ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #0067ff;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextUnselected {
    border: 2px solid #e6f0ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    cursor: pointer;
    background: #e6f0ff;
    color: #0067ff;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextUnselected:hover {
    border: 2px solid #0067ff !important;
}

.highlightTextSelected {
    border: 2px solid #0067ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    cursor: pointer;
    background: #0067ff;
    color: #fff;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextCorrect {
    border: 2px solid #35ac78;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #d4f3e5;
    color: #35ac78;
    font-family: 'Overpass';
    font-size: 15px;
}

.highlightTextWrong {
    border: 2px solid #f94144;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #ffe6f3;
    color: #f94144;
    font-family: 'Overpass';
    font-size: 15px;
}

.inlineChoicePlaceholder {
    /* background: #f2f2f2;
    padding: 3px;
    border-radius: 3px;
    display: inline-block; */
    border: 1px solid #0067ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #0067ff;
    font-family: 'Overpass';
    font-size: 15px;
}

.inlineTextEntry {
    border: 1px solid #0067ff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #e6f0ff;
    color: #0067ff;
    font-family: 'Overpass';
    font-size: 15px;
}

div#editable {
    display: inline-block;
}

.cardQuiz {
    padding: 40px;
    background: #fff;
    max-width: 360px;
    border-radius: 20px;
    margin: 60px auto;
}

.cardShadow {
    /* box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2); */
    border: 1px solid #cccccc;
}

.hotspotOption {
    border: none;
    border-radius: 8px;
    padding: 7px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #f8f8f8;
    color: #000;
    font-family: 'Overpass';
    font-size: 15px;
}

/* .highlightTextOption:hover {
    border: 2px solid #0067ff !important;
} */

.hotspotActive {
    border: 2px solid #0067ff;
    border-radius: 8px;
    padding: 7px;
    margin-left: 2;
    margin-right: 2;
    /* cursor: pointer; */
    background: #f8f8f8;
    color: #0067ff;
    font-family: 'Overpass';
    font-size: 15px;
}

/* .mbsc-ios.mbsc-popup-body {
    background: #f8f8f8 !important;
} */

.mbsc-ios.mbsc-calendar-button.mbsc-button {
    color: '#0067ff' !important;
}

.mbsc-ios.mbsc-eventcalendar .mbsc-calendar-header,
.mbsc-ios.mbsc-eventcalendar .mbsc-calendar-week-days {
    background: #fff;
}

.mbsc-ios.mbsc-schedule-wrapper {
    background: #fff;
}

/* .fr-second-toolbar {
    border-radius: 0px !important;
    border: none;
} */

/* .fr-toolbar {
    border: none !important;
}

.fr-box.fr-basic .fr-wrapper {
    border: none;
    border-bottom: 1px solid #efefef !important;
}

.fr-toolbar .fr-newline {
    margin-left: 0px !important;
    margin-right: 0px !important;
} */

*:focus {
    outline: none !important;
}

textarea:focus,
input:focus {
    outline: none !important;
}

.mbsc-textfield.mbsc-textfield-tags.mbsc-textarea {
    border: 1px solid #cccccc !important;
    border-radius: 2px;
}

.mbsc-ios.mbsc-button-flat {
    color: #000;
    font-size: 15;
    font-family: 'Inter';
    text-transform: capitalize;
}

.mbsc-ios-dark.mbsc-button-flat {
    color: #fff !important;
    font-size: 15 !important;
}

.mbsc-ios.mbsc-textfield-wrapper-underline {
    background: #fff;
}

.mbsc-ios.mbsc-select,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-box,
.mbsc-ios.mbsc-textarea-inner.mbsc-textfield-inner-outline {
    background: #fff;
}

.htmlParser {
    font-family: 'Overpass' !important;
    user-select: text !important;
}

.highlighter {
    text-overflow: ellipsis;
}
/* 
.fr-box.fr-basic .fr-element {
    color: '#000';
} */

/* New table with sticky row and column */

.analyticsOverviewTable {
}

.analyticsOverviewTable > td {
    z-index: 1;
    min-width: 120px;
    max-width: 120px;
    padding: 10px;
}

/* STANDARDS TABLE */

.standardsTable {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    min-width: 100%;
}

.standardsTable > thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* width: 25vw; */
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
    background-color: #f8f8f8;
    border-right: 1px solid #f2f2f2;
}

.standardsTable > thead {
    background-color: #f8f8f8;
    min-width: 100%;
}

.standardsTable > thead th:first-child {
    background-color: #f8f8f8;
    position: sticky;
    left: 0;
    z-index: 3;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.standardsTable > tfoot th {
    padding: 3px;
    position: sticky;
    bottom: 0;
    z-index: 1;
    /* width: 25vw; */
    padding: 10px;
    min-width: 150px;
    max-width: 150px;
    background-color: #f8f8f8;
    border-right: 1px solid #f2f2f2;
}

.standardsTable > tfoot {
    background-color: #f8f8f8;
    min-width: 100%;
}

.standardsTable > tfoot th:first-child {
    background-color: #f8f8f8;
    position: sticky;
    left: 0;
    z-index: 3;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.standardsTable > tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 2;
    min-width: 150px;
    max-width: 150px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.standardsTable > td {
    z-index: 1;
    min-width: 150px;
    max-width: 150px;
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
}

/* FOR VICTORY CHARTS */
svg:not(:root) {
    overflow: visible !important;
}

.mbsc-schedule-all-day-wrapper {
    overflow: hidden !important;
}

.mbsc-schedule-grid-scroll {
    overflow: hidden !important;
}

.mbsc-popup-padding {
    overflow: hidden !important;
}

.gradebookTableContainer {
    position: relative;
    max-height: 300px;
    width: 500px;
    overflow: scroll;
}

.courseAvgTableContainer {
    position: relative;
    max-height: 300px;
    width: 500px;
    overflow: scroll;
}

.courseAvgTable {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    min-width: 100%;
}

.courseAvgTable > thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* width: 25vw; */
    padding: 10px;
    min-width: 100px;
    max-width: 100px;
    background-color: #f8f8f8;
}

.courseAvgTable > thead {
    background-color: #f8f8f8;
    min-width: 100%;
}

.courseAvgTable > thead th:first-child {
    background-color: #f8f8f8;
    position: sticky;
    left: 0;
    z-index: 3;
    min-width: 100px;
    max-width: 100px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.courseAvgTable > tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 2;
    min-width: 100px;
    max-width: 100px;
    padding: 10px;
    border-right: 1px solid #f2f2f2;
}

.courseAvgTable > tbody td {
    z-index: 1;
    min-width: 100px;
    max-width: 100px;
    padding: 10px;
}

.mbsc-ios.mbsc-event-day.mbsc-list-header {
    font-family: 'Overpass';
    font-size: 14px !important;
}

/* DARK THEME */

.mbsc-ios-dark.mbsc-calendar-cell {
}

.mbsc-ios-dark.mbsc-calendar-button.mbsc-button {
    color: #0067ff !important;
}

.mbsc-ios-dark.mbsc-eventcalendar .mbsc-calendar-header,
.mbsc-ios-dark.mbsc-eventcalendar .mbsc-calendar-week-days {
    background: #1b1d21 !important;
}

.mbsc-ios-dark.mbsc-calendar-header,
.mbsc-ios-dark.mbsc-calendar-wrapper {
    border-color: #444444 !important;
}

.mbsc-ios-dark.mbsc-event-day.mbsc-list-header {
    background: #1b1d21 !important;
}

/* .mbsc-ios-dark.mbsc-event.mbsc-list-item {
    background: #1b1d21 !important;
} */

/* .fr-toolbar.fr-top {
    border-radius: 0px !important;
} */

.mbsc-ios-dark.mbsc-selected .mbsc-calendar-cell-text {
    background: #0067ff !important;
    border-color: #0067ff !important;
}

.mbsc-ios-dark.mbsc-eventcalendar-schedule .mbsc-calendar-day,
.mbsc-ios-dark.mbsc-schedule-wrapper {
    background: #1b1d21 !important;
}

.mbsc-ios-dark.mbsc-popup-body {
    background: #1b1d21 !important;
}

.mbsc-popup-overlay {
    background: rgb(0 0 0 / 60%) !important;
}

.mbsc-ios-dark.mbsc-popup-button-flex.mbsc-button-flat.mbsc-hover {
    background: #383838 !important;
}

.mbsc-ios-dark.mbsc-popup-button-flex.mbsc-button-flat.mbsc-active {
    background: #4a5878 !important;
}

.mbsc-ios-dark.mbsc-popup .mbsc-ios-dark.mbsc-select,
.mbsc-ios-dark.mbsc-popup .mbsc-ios-dark.mbsc-textarea-inner.mbsc-textfield-inner-box,
.mbsc-ios-dark.mbsc-popup .mbsc-ios-dark.mbsc-textarea-inner.mbsc-textfield-inner-outline,
.mbsc-ios-dark.mbsc-popup .mbsc-ios-dark.mbsc-textfield-box,
.mbsc-ios-dark.mbsc-popup .mbsc-ios-dark.mbsc-textfield-outline,
.mbsc-ios-dark.mbsc-popup .mbsc-ios-dark.mbsc-textfield-wrapper-underline {
    background: #1b1d21 !important;
}

.mbsc-label,
.mbsc-textfield {
    border: 1px solid #e8eaee !important;
}

.mbsc-ios-dark.mbsc-label,
.mbsc-ios-dark.mbsc-textfield {
    border: 1px solid #444444 !important;
}

.mbsc-popup-center {
    min-width: 30em;
}

.mbsc-ios-dark.mbsc-scroller-pointer .mbsc-scroller-wheel-item.mbsc-selected {
    color: #0067ff !important;
}

.mbsc-ios-dark.mbsc-scroller-wheel-item.mbsc-hover {
    background: #4a5878 !important;
}

.mbsc-ios-dark.mbsc-calendar-today,
.mbsc-ios-dark.mbsc-calendar-week-nr {
    color: #0067ff;
}

.mbsc-ios-dark.mbsc-calendar-today {
    color: #fff;
}

.mbsc-ios-dark.mbsc-hover .mbsc-calendar-cell-text {
    background: #4a5878 !important;
}

.mbsc-ios-dark.mbsc-range-control-value.active {
    color: #fff !important;
}

.mbsc-ios-dark.mbsc-range-day:after {
    background: #4a5878 !important;
}

.mbsc-ios.mbsc-popup-body {
    background: #fff;
}

.mbsc-ios-dark.mbsc-schedule-header-day.mbsc-selected {
    background: #4a5878 !important;
}

.mbsc-ios-dark.mbsc-schedule-time-indicator {
    border-color: #0067ff !important;
}

.mbsc-ios-dark.mbsc-schedule-time-indicator-time {
    color: #0067ff !important;
}

.mbsc-ios-dark.mbsc-schedule-time-indicator-day:before {
    background: #0067ff !important;
}

.fr-dark-view * {
    color: white !important;
}

.dark-theme * {
    color: white !important;
}

.mbsc-ios.mbsc-event.mbsc-list-item:before {
    border-left: 0px !important;
}
